{{#if config.darkModeToggle}}
  <div style="float: right;">
    <a href="#" id="dark-mode-toggle">(toggle dark mode)</a>
  </div>

  <script type="text/javascript">
    $(() => {
      const $styles = $('#dark-mode-styles');
      $('#dark-mode-toggle').click(() => {
        const isDarkMode = $styles.attr('media') !== 'not all';
        const newState = !isDarkMode;
        window.localStorage.setItem('darkmode', newState);
        $styles.attr('media', newState ? '' : 'not all');
      });

      const initialState = window.localStorage.getItem('darkmode') === 'true';
      if (typeof initialState === 'boolean') {
        $styles.attr('media', initialState ? '' : 'not all');
      }
    });
  </script>
{{/if}}
