<ul>
  {{#each @this}}
    <li style="list-style: none;">
      {{#isEqual type 'file'}}<a href="{{location}}">{{/isEqual}}
        {{title}}
      {{#isEqual type 'file'}}</a>{{/isEqual}}
    </li>
    {{#isEqual type 'directory'}}
      {{> directory files}}
    {{/isEqual}}
  {{/each}}
</ul>

