<div class="header">
  <h1>Search</h1>
</div>

<div class="content">
  <div style="padding: 1em 0em;">
    <form class="pure-form">
      <input
        type="text"
        placeholder="Search"
        class="pure-input-1 pure-input-rounded"
        id="search-input"
        autofocus="autofocus"
        autocomplete="off"
      >
    </form>
    {{> dark-mode-toggle}}
    <div id="search-results">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    const search = (query) => {
      window.fetch('/search', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          query: query,
        }),
      }).then((res) => res.json())
      .then((json) => json.results)
      .then((results) => {
        const html = [
          `<p>${results.length} Result${results.length === 1 ? '' : 's'}:</p>`,
          '<ul>'
        ];

        for (let i = 0; i < results.length; i++) {
          const result = results[i];
          html.push(`<li><a href="${result.location}">${result.title}</a></li>`);
        }

        html.push('</ul>');

        $('#search-results').html(html.join(''));
      });
    };

    const clear = () => {
      $('#search-results').html('');
    };

    $('#search-input').on('keyup', function(event) {
      const query = event.target.value;
      if (query) {
        search(event.target.value);
      } else {
        clear();
      }
    });
  });
</script>
